<nav class="pagination" aria-label="...">
    <ul class="pagination">
      <li class="page-item" id="previous">
        <a class="page-link" href="#" tabindex="-1">Anterior</a>
      </li>
      <li class="page-item" id="next">
        <a class="page-link" href="#">Siguiente</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </ul>
  </nav>
  <img class="header__logo" id="header__home" alt="">
    <div class="pokemon-container" id="pokemon-container">
    </div>
    
    <div id="spinner" class="spinner-border text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

 <script src="pokedex.component.js"></script>
    
