<link rel="stylesheet" href="pokedex.component.css"> 
<body>




  <main class="card-list-pokemon container">
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/1.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 1</span>
        <h3>Bulbasaur</h3>
        <div class="card-types">
          <span class="grass">Planta</span>
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/2.gif"
          alt="pokemon ivysaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 2</span>
        <h3>Ivysaur</h3>
        <div class="card-types">
          <span class="grass">Planta</span>
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/3.gif"
          alt="pokemon venusaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 3</span>
        <h3>Venusaur</h3>
        <div class="card-types">
          <span class="grass">Planta</span>
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/4.gif"
          alt="pokemon charmander"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 4</span>
        <h3>Charmander</h3>
        <div class="card-types">
          <span class="fire">Fuego</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/5.gif"
          alt="pokemon charmeleon"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 5</span>
        <h3>Charmeleon</h3>
        <div class="card-types">
          <span class="fire">Fuego</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/6.gif"
          alt="pokemon charizard"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 6</span>
        <h3>Charizard</h3>
        <div class="card-types">
          <span class="fire">Fuego</span>
          <span class="flying">Volador</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/7.gif"
          alt="pokemon squirtle"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 7</span>
        <h3>Squirtle</h3>
        <div class="card-types">
          <span class="water">Agua</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/8.gif"
          alt="pokemon Wartortle"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 8</span>
        <h3>Wartortle</h3>
        <div class="card-types">
          <span class="water">Agua</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/9.gif"
          alt="pokemon blastoise"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 9</span>
        <h3>Blastoise</h3>
        <div class="card-types">
          <span class="water">Agua</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/10.gif"
          alt="pokemon caterpie"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 10</span>
        <h3>Caterpie</h3>
        <div class="card-types">
          <span class="bug">Bicho</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/11.gif"
          alt="pokemon metapod"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 11</span>
        <h3>Metapod</h3>
        <div class="card-types">
          <span class="bug">Bicho</span>
        </div>
      </div>
    </a>

    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/12.gif"
          alt="pokemon butterfree"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 12</span>
        <h3>Butterfree</h3>
        <div class="card-types">
          <span class="bug">Bicho</span>
          <span class="flying">Volador</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/13.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 13</span>
        <h3>Weedle</h3>
        <div class="card-types">
          <span class="grass">Bicho</span>
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/14.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 14</span>
        <h3>Kakuna</h3>
        <div class="card-types">
          <span class="grass">Bicho</span>
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/15.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 15</span>
        <h3>Beedril</h3>
        <div class="card-types">
          <span class="grass">Beedrill</span>
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/16.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 16</span>
        <h3>Pidgey</h3>
        <div class="card-types">
          <span class="grass">Normal</span>
          <span class="poison">Volador</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/17.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 17</span>
        <h3>Pidgeotto</h3>
        <div class="card-types">
          <span class="grass">Normal</span>
          <span class="poison">Volador</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/18.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 18</span>
        <h3>Pidgeot</h3>
        <div class="card-types">
          <span class="grass">Normal</span>
          <span class="poison">Volador</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/19.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 19</span>
        <h3>Rattata</h3>
        <div class="card-types">
          <span class="grass">Normal</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/20.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 20</span>
        <h3>Raticate</h3>
        <div class="card-types">
          <span class="grass">Normal</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/21.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 21</span>
        <h3>Spearow</h3>
        <div class="card-types">
          <span class="grass">Normal</span>
          <span class="poison">Volador</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/22.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 22</span>
        <h3>Fearow</h3>
        <div class="card-types">
          <span class="grass">Normal</span>
          <span class="poison">Volador</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/23.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 23</span>
        <h3>Ekans</h3>
        <div class="card-types">
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>
    <a href="pokemon.html" class="card-pokemon">
      <div class="card-img">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/showdown/24.gif"
          alt="pokemon bulbasaur"
        />
      </div>
      <div class="card-info">
        <span class="pokemon-id">N° 24</span>
        <h3>Arbok</h3>
        <div class="card-types">
          <span class="poison">Veneno</span>
        </div>
      </div>
    </a>
    
  </main>

  <div class="container-filters">
    <div class="filter-by-type">
      <span>Tipo</span>

      <div class="group-type">
        <input type="checkbox" name="grass" id="grass" />
        <label for="grass">Planta</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="fire" id="fire" />
        <label for="fire">Fuego</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="bug" id="bug" />
        <label for="bug">Bicho</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="fairy" id="fairy" />
        <label for="fairy">Hada</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="dragon" id="dragon" />
        <label for="dragon">Dragón</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="shadow" id="shadow" />
        <label for="shadow">Fantasma</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="ground" id="ground" />
        <label for="ground">Tierra</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="normal" id="normal" />
        <label for="normal">Normal</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="psychic" id="psychic" />
        <label for="psychic">Psíquico</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="steel" id="steel" />
        <label for="steel">Acero</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="dark" id="dark" />
        <label for="dark">Siniestro</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="electric" id="electric" />
        <label for="electric">Eléctrico</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="fighting" id="fighting" />
        <label for="fighting">Lucha</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="flying" id="flying" />
        <label for="flying">Volador</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="ice" id="ice" />
        <label for="ice">Hielo</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="poison" id="poison" />
        <label for="poison">Veneno</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="rock" id="rock" />
        <label for="rock">Roca</label>
      </div>
      <div class="group-type">
        <input type="checkbox" name="water" id="water" />
        <label for="water">Agua</label>
      </div>
    </div>
  </div>

      <script src="pokemon.component.js"></script>
</body>



