<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="Width=device-width,initial-scale=1.0">
  <title>POKEDEX</title>
  <link rel=""stylesheet href="app.component.css">
</head>
<body>
  <header>
    <h2 class="logo">Logo</h2>
    <nav class="navigation">
      <a href="#">Home</a>
      <a a (click)="navigateToPokedex">Pokedex</a>
      <a href="https://pokeapi.co/">Api</a>
      <button class="btnLogin-popup">Login</button>
    </nav>
  </header>
  <div class="slider-box">
    <ul>
      <li>
        <img src="realistic-world-pikachu-desktop-wallpaper-preview.jpg" alt="">
        <div class="texto">
            <h2>Imagen 1</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, saepe est aliquid, asperiores 
              aperiam architecto 
            </p>
        </div>
      </li>
      <li>
        <img src="pokemon-eevee-sitting-in-field-anime-preview-desktop-wallpaper.jpg" alt="">
        <div class="texto">
            <h2>Imagen 2</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, saepe est aliquid, asperiores 
              aperiam architecto 
            </p>
        </div>
      </li>
      <li>
        <img src="pokemon-eevee-sitting-in-field-anime-preview-desktop-wallpaper.jpg" alt="">
        <div class="texto">
            <h2>Imagen 3</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, saepe est aliquid, asperiores 
              aperiam architecto fugit maiores 
            </p>
        </div>
      </li>

      <li>
        <img src="pokemon-eevee-sitting-in-field-anime-preview-desktop-wallpaper.jpg" alt="">
        <div class="texto">
            <h2>Imagen 4</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, saepe est aliquid, asperiores 
              aperiam architecto 
            </p>
        </div>
      </li>


    </ul>


  </div>




  <div class="wrapper" id="wrapper">
      <span class="icon-close"><img src="../assets/close.png" width="20" height="20" color="#ffffff"></span>
    <div class="form-box login" >
      <h2>Login</h2>
      <form action="#" class="hidden" id="form-box login">
        <div class="input-box">
          <span class="icon"><img src="../assets/mail.png" width="18" height="18"/></span>
          <input type="email" required>
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="icon"><img src="../assets/lock-closed.png" width="18" height="18"/></span>
          <input type="password" required>
          <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">Remember me</label>
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit" class="btn">Login</button>
          <div class="login-register">
            <p>Don't have an account?<a href="#" class="register-link">Register</a></p>
          </div>
      </form>
    </div>

    <div class="form-box register">
      <h2>Registration</h2>
      <form action="#" class="hidden" id="form-box register">
        <div class="input-box">
          <span class="icon"><img src="../assets/person.png" width="18" height="18"/></span>
          <input type="text" required>
          <label>Username</label>
        </div>
        <div class="input-box">
          <span class="icon"><img src="../assets/mail.png" width="18" height="18"/></span>
          <input type="email" required>
          <label>Email</label>
        </div>
        <div class="input-box">
          <span class="icon"><img src="../assets/lock-closed.png" width="18" height="18"/></span>
          <input type="password" required>
          <label>Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">Agree to the terms & conditions</label>
          </div>
          <button type="submit" class="btn">Register</button>
          <div class="login-register">
            <p>Already have an account?<a href="#" class="login-link">Login</a></p>
          </div>
      </form>
    </div>
  </div>
  <script src="scriptRegistro.js"></script>
</body>

</html>