  

<div class="caja">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/R3Y525VJ4ZI?si=Jjk99d_yVTIUs414"
          title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
  </iframe>   
<div class="titulo">
  <h2>Bienvenidos a la API de pokemon
    <br>
    <br>
  </h2>
  <li><strong> Te permite acceder a información detallada sobre todos los aspectos del universo Pokémon. Ya sea que estés construyendo una aplicación, un sitio web, o un proyecto personal.</strong></li>
  <br>
  <li><strong>Nuestra API tiene todo lo que necesitas:
    <ul>- Características PrincipalesPokémon</ul>
    <ul>- Información detallada sobre todos los Pokémon</ul>
    <ul>- Tipos, fortalezas y debilidades</ul>
  </strong></li>
  <li><strong>Hemos utilizado la api de pokeapi.co/ la cual tiene todos los recursos que hay disponibles hasta el dia de hoy y actualizados recientemente de todos los juegos y peliculas</strong></li>
</div>





  

  
</div>

